body {background:#ffffff url('assets/omfgdogs.gif') repeat right top;}

a, a:visited {
	font-size:100%;
	margin:10px;
	text-decoration:none;
}

.footer {
	color: #FFF;
	text-align:right;
	position:fixed;
	width:100%;
	bottom:0;
	background-color:#00000;
	padding:0 100px 5px 0;
}
