body {
	font:"Arial", Helvetica, sans-serif;
	background:#ffffff url('assets/omfgdogs.gif') repeat right top;	
}

a {
	color:#FFFF00;
	text-decoration:none;
}

#footer {
	display:block;
	text-align: right;
	position:fixed;
	width:100%;
	bottom:0;
	margin:0 10px 5px 0;
}